<?xml version="1.0" encoding="utf-8"?>

<LanguageData>
    <ToolkitPolls.SettingGroups.General>General</ToolkitPolls.SettingGroups.General>
    <ToolkitPolls.Settings.MaxChoices.Label>Maxmimum number of choices</ToolkitPolls.Settings.MaxChoices.Label>
    <ToolkitPolls.Settings.MaxChoices.Description>The maximum number of choices a poll can have at any given point. While this setting affects most polls, addons can explicitly exceed this limit.</ToolkitPolls.Settings.MaxChoices.Description>

    <ToolkitPolls.Settings.CoverDuration.Label>Cover duration</ToolkitPolls.Settings.CoverDuration.Label>
    <ToolkitPolls.Settings.CoverDuration.Description>The maximum number of seconds a poll's cover, the screen prior to the actual poll, will run for. While there is no limit to the amount of seeconds you can put in this field, it's advised to keep it within reason.</ToolkitPolls.Settings.CoverDuration.Description>

    <ToolkitPolls.Settings.PollDuration.Label>Duration</ToolkitPolls.Settings.PollDuration.Label>
    <ToolkitPolls.Settings.PollDuration.Description>The maximum number of seconds a poll will run for. While there is no limit to the amount of seconds you can put in this field, it's advised to keep it within reason.</ToolkitPolls.Settings.PollDuration.Description>

    <ToolkitPolls.Settings.ResultsDuration.Label>Results duration</ToolkitPolls.Settings.ResultsDuration.Label>
    <ToolkitPolls.Settings.ResultsDuration.Description>The maximum number of seconds a poll's results, the screen after the actual poll, will run for. While there is no limit to the amount of seconds you can put in this field, it's advised to keep it within reason.</ToolkitPolls.Settings.ResultsDuration.Description>

    <ToolkitPolls.Settings.Colorless.Label>Colorless polls</ToolkitPolls.Settings.Colorless.Label>
    <ToolkitPolls.Settings.Colorless.Description>Whether or not the poll dialogs will use colors. Currently, this setting disables colored titles, colored poll bars, and the rainbow timer bar.</ToolkitPolls.Settings.Colorless.Description>

    <ToolkitPolls.Settings.PollBars.Label>Draw poll bars</ToolkitPolls.Settings.PollBars.Label>
    <ToolkitPolls.Settings.PollBars.Description>Whether or not the poll dialog will draw a bar behind choices to indicate their vote count relative to the poll's total vote count.</ToolkitPolls.Settings.PollBars.Description>

    <ToolkitPolls.Settings.LargeText.Label>Large text</ToolkitPolls.Settings.LargeText.Label>
    <ToolkitPolls.Settings.LargeText.Description>Whether or not the poll dialogs will use a larger font.</ToolkitPolls.Settings.LargeText.Description>

    <ToolkitPolls.Settings.ChoicesInChat.Label>Choices in chat</ToolkitPolls.Settings.ChoicesInChat.Label>
    <ToolkitPolls.Settings.ChoicesInChat.Description>Whether or not the poll's choices will be sent to chat.</ToolkitPolls.Settings.ChoicesInChat.Description>


    <ToolkitPolls.SettingGroups.VoteWeights.Label>Vote weights</ToolkitPolls.SettingGroups.VoteWeights.Label>
    <ToolkitPolls.SettingGroups.VoteWeights.Description>Below are the settings that dictate a viewer's voting power. All these values are additive with one another, which means a vip with an active subscription will have more votes than a vip.</ToolkitPolls.SettingGroups.VoteWeights.Description>
    <ToolkitPolls.Settings.SubscriberWeight>Subscriber weight</ToolkitPolls.Settings.SubscriberWeight>
    <ToolkitPolls.Settings.VipWeight>Vip weight</ToolkitPolls.Settings.VipWeight>
    <ToolkitPolls.Settings.FounderWeight>Founder weight</ToolkitPolls.Settings.FounderWeight>
    <ToolkitPolls.Settings.ModeratorWeight>Moderator weight</ToolkitPolls.Settings.ModeratorWeight>
    <ToolkitPolls.Settings.TieredVotes.Label>Tiered voting weights</ToolkitPolls.Settings.TieredVotes.Label>
    <ToolkitPolls.Settings.TieredVotes.Description>This setting is responsible for adjusting how a viewer's vote weight is calculated. When enabled, a viewer's weight will be determined by their tier in chat, instead of being a culmination of their tiers. The hierarchy of the mod's tiers are as follows: default &gt; subscriber &gt; founder &gt; vip &gt; moderator</ToolkitPolls.Settings.TieredVotes.Description>
</LanguageData>
